/* === Universal */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.10) 0%, rgba(255, 255, 255, 0) 100%);
    background-attachment: fixed;

    padding: 2em 4em;
}

.top {
    text-align: center;
}
.top-button {
    width: 120px;
    height: 80px;
    margin: 2px;
    font-size: 16px;
}
h1 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
h2 {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
p, h3, h4, h5, h6 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.header {
    font-size: 1.5em;
    margin-bottom: 0.75em;
    font-weight: bold;
}

/* Buttons */
button, input[type="submit"], .btn {
    background: #fff;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.10) 0%, rgba(255, 255, 255, 0) 100%);
    border: 0.5px solid #00000050;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: #fff;
        background: linear-gradient(180deg,rgba(0, 0, 0, 0.10) 0%, rgba(255, 255, 255, 0) 100%);
        border: 0.5px solid #00000070;
    }
    &:active {
        background: #fff;
        background: linear-gradient(180deg,rgba(0, 0, 0, 0.20) 0%, rgba(255, 255, 255, 0) 100%);
        border: 0.5px solid #00000090;
    }
}
/* Text fields */
input[type="url"], input[type="text"] {
    width: 100%;
    padding: 0.4em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    border: 0.1px solid #0000004f;
    box-sizing: border-box;
}

/* Submit button */
input[type="submit"] {
    width: 100%;
    padding: 0.4em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    border: 0.1px solid #0000004f;
    box-sizing: border-box;
}

/* === Home page */
.list {
    display: grid;
    margin-top: 1em;
}

.note {
    display: flex;

    margin: 0.25em;
    padding: 0.75em;

    background-color: #fff;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
    border: 0.5px solid #00000050;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: #fff;
        background: linear-gradient(180deg,rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
        border: 0.5px solid #00000070;
    }
    &:active {
        background: #fff;
        background: linear-gradient(180deg,rgba(0, 0, 0, 0.10) 0%, rgba(255, 255, 255, 0) 100%);
        border: 0.5px solid #00000090;
    }
}
.note-icon {
    margin: 0.5em;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

#new-note {
    display: grid;
}

.note-form {
    display: grid;
    grid-template-areas:
    "title submit";
    gap: 0.5em;
}
#note-title, #import-url-input {
    grid-area: title;
    font-size: 1em;
    margin-bottom: 0px !important;
}
#note-submit, #import-url-submit {
    grid-area: submit;
    margin-bottom: 0px !important;
    padding: 0.75em;
}

.import-form {
    display: grid;
    grid-template-areas:
    "file url";
    gap: 0.5em;
}

/* === Editor */
/*Page itself*/
.top-editor {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#note-title-form {
    width: 50%;
    /* top | right | bottom | left */
    padding: 0em 0em 0.21em 0em;
    margin-bottom: 0.5em;

    background: none;
    border: none;
    border-radius: 0px;
    border-bottom: gray solid 0.05em;
    box-sizing: border-box;

    font-size: 1.5em;
    font-weight: bold;
}
#note-title-form:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

textarea {
    font-family: Consolas, monospace;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 5px;
    resize: none;
    overflow: auto;
}

#preview-pane {
    padding: 1em;
    background: #fff;
    border-radius: 5px;
    border: 0.5px solid #00000090;

    height: 600px;
    overflow: auto;
}

.editor-btn, .top-bar > button, .left-align > button, .right-align > button { /*Button Dimensions*/
    width: 40px;
    height: 30px;
    margin: 1px;
    font-size: 14px;
}

    /* CSS Dump 1 - https://rentry.co/pzvvqok5 */

/*Dropdowns*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-btn {
    width: 50px;
    height: 30px;
    margin: 1px;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 2px;

    background: white;
    background: linear-gradient(180deg,rgb(245, 245, 245) 0%, rgb(235, 235, 235) 100%);
    padding: 5px 10px;
    border-radius: 10px;
    border: 0.5px solid #0000004f;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    & > button {
    width: 50px;
    height: 30px;
    margin: 2px 0px;
    font-size: 14px;
    font-weight: bold;
    }
}
#linkDropdown, #imgDropdown, #vidDropdown, #colorDropdown, #moreDropdown, #settingsDropdown { /*Specific dropdown dimensions*/
    width: 200px;
}
.dropdown-listing, #moreDropdown > button, #settingsDropdown > button {
    width: 100%;
    text-align: left;
    font-weight: normal;
    height: 30px;
    margin: 2px 0px;
    font-size: 14px;
}

.show {
    display: block !important;
}

/*Color Dropdown*/
.colorform {
    display: grid;
    grid-template-areas:
    "pick field"
    "submit submit";
}
#color-code {
    grid-area: pick;
    margin-right: 0.5em;
}
#color-text {
    grid-area: field;
}
#color-submit {
    grid-area: submit;
}

input#img-file {
    background: white;
    color: gray;
}

/*===  Preview-specific */
/*Images*/
img {
    border-radius: 5px;
}
img:not([src*="img.youtube.com"]) {
    width: 50%;
    height: 50%;
}

/*YouTube Embeds*/
a:has(img[src*="img.youtube.com"]) {
    position: relative;
    display: inline-block;
}
a:has(img[src*="img.youtube.com"])::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 68px;
    height: 48px;
    transform: translate(-50%, -50%);
    background: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png")
                center / contain no-repeat;
    pointer-events: none;
}

/*Quotes*/
blockquote {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 1em 20px;
    border-left: 5px solid #0000004f;
    background-color: #00000005;
}

/*GFM Notes*/
.markdown-alert {
    padding: 1em 20px;
    background-color: #00000005;
}
.markdown-alert-title {
    font-weight: bold;
    margin-block-end: 0.5em;
}
.markdown-alert-note {
    border-left: 5px solid rgba(22, 121, 202, 0.5);
}
.markdown-alert-tip {
    border-left: 5px solid rgba(22, 202, 22, 0.5);
}
.markdown-alert-important {
    border-left: 5px solid rgba(202, 22, 172, 0.5);
}
.markdown-alert-caution {
    border-left: 5px solid rgba(202, 169, 22, 0.5);
}
.markdown-alert-warning {
    border-left: 5px solid rgba(202, 22, 22, 0.5);
}

/*Tables*/
table {
    border-spacing: 0px;
}
td {
    border: 0.5px solid #0000004f;
    padding: 0.25em 2em;
}
th {
    border: 1px solid rgba(0, 0, 0, 0.75);
    padding: 0.25em 2em;
}

/*Codeblocks*/
pre {
    background-color: #fcfcfc;
    border: 1px solid #0000004f;
    border-radius: 5px;

    box-sizing: border-box;
    padding: 1em;
    font-size: 80%;

    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
}
.hljs {
    background: #fcfcfc !important;
}
pre code.hljs {
    padding: 0em !important;
    font-size: 120% !important;
}
code,
code * {
  font-family: monospace !important;
}

/*=== Button Color Sets*/
.danger {
    background: rgb(177, 0, 0);
    background: linear-gradient(180deg,rgba(255, 0, 0, 0.15) 0%, rgba(200, 20, 20, 0.5) 100%) !important;
    &:hover {
        background: linear-gradient(0deg,rgba(255, 0, 0, 0.2) 0%, rgba(200, 20, 20, 0.5) 100%) !important;
    }
    &:active {
        background: linear-gradient(180deg,rgba(255, 0, 0, 0.2) 0%, rgba(200, 20, 20, 0.4) 100%) !important;
    }
}

.safe {
    background: rgb(0, 177, 0);
    background: linear-gradient(0deg,rgba(0, 255, 0, 0.15) 0%, rgba(20, 200, 35, 0.5) 100%);
    &:hover {
        background: linear-gradient(180deg,rgba(0, 255, 0, 0.2) 0%, rgba(20, 200, 35, 0.5) 100%) !important;
    }
    &:active {
        background: linear-gradient(180deg,rgba(0, 255, 0, 0.2) 0%, rgba(20, 200, 35, 0.4) 100%) !important;
    }
}

/* === Smaller Screen Accomodations */
@media screen and (max-width: 2000px) {
body {
    padding: 3em 6em;
}
.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
}

@media screen and (max-width: 1600px) {
body {
    padding: 2em 4em;
}
.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}

@media screen and (max-width: 1200px) {
body {
    padding: 2em;
}
.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}

@media screen and (max-width: 900px) {
body {
    padding: 1em;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

@media screen and (max-width: 600px) {
body {
    padding: 1em;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
}
}