body {
    background: lightblue;
    padding: 1em 10em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 10px 20px;
}

#buttons {
    margin: 1em 0em;
}

textarea {
    padding: 1em
}

#panes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 100%;
}

#preview {
    background: white;
    padding: 1em;
    height: 25em;
    overflow-y: scroll;
}